/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*Global*/
body{
    font-family: 'Roboto Slab', serif !important;
}
h1{
    font-size: 72px !important;
}
h2{
    font-size: 40px !important;
    font-weight: normal;
    color: #0074a0;
    border-bottom: 3px solid #0074a0;
}
h3{
    font-size: 32px!important;
    color: #0074a0;
    font-weight: bolder;
}
h4{
    font-size: 26px!important;
}
p{
    font-size: 24px;
}
.list{
    font-size: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list li{
    margin-bottom: 24px;
    width: 50%;
}
.list li:nth-child(5){
    width:50%;
}


.dateAndPlace{
    display: flex;
    justify-content:space-between;
    font-size:17px;
    color: #0074a0;
}

.achievements ,.course, .languageLevel{
    color: #0074a0;
    font-style: italic;
    font-size: 20px;
}
.languageLevel{
    font-size: 16px;
}


/*title*/
.title{
    display: flex ;
    justify-content:space-between;
    flex-wrap: wrap !important;
}
.icon{
    color: #0074a0;
    margin-right:16px;
}
.description{
    background-color: #0074a0;
    padding: 20px;
    margin: 30px 0;
    width: 799px;
}
.description h2{
    margin-bottom: 20px;
    color: white;
}
.underline{
    border-bottom: 3px solid white;
}



/*Career*/
.career p{
    margin-bottom: 10px;
    line-height: 1.1;
}
.companyDescription{
    color: #71717d;
    font-size: 17px;
}
.contextAchievements, .contextCourse{
    list-style:none;
    margin-left: 20px;
    font-size: 20px;
}
.contextAchievements li, .contextCourse li{
    margin-bottom: 5px;
}
.contextAchievements li::before, .contextCourse li::before{
    content: "□";
    color: #0074a0;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

/*Education*/
.education p{
    margin-bottom: 10px;
    line-height: 1.1;
}
.contextCourse{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
}
.contextCourse li{
    width: 500px;
}


/*Seminar*/
.contextSeminar{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    margin-top: 16px !important;
}
.contextSeminar li{
    width:200px;
    margin-right: 50px;
}
.contextSeminar li:nth-child(1){
    font-weight: bolder !important;
}
.contextSeminar li:nth-child(2){
    width:300px;
}

/*volunteer*/
.volunteer p{
    margin-bottom: 10px;
    line-height: 1.1;
}


/*Language*/
.contextLanguage{
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
}
.contextLanguage li{
    width:300px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bolder;
}


/*Interest*/
.interest{
    height: 500px;
}
.interestContext, .skilltContext{
    display: flex !important;
    flex-direction: row !important;
    justify-content: start !important;
    flex-wrap: wrap;
}
.interestContext li , .skilltContext li{
    border: 2px solid #71717d;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
}


/*Skills*/
.skilltContext li{
    border: 2px solid #0074a0;
    background-color: #0074a0;
    color: #fff;
}


/*RWD*/
@media (max-width:767px) {
    .list{
        font-size: 24px;
        display: flex;
        flex-direction: column;
    }
    .list li{
        margin-bottom: 24px;
        width: 500px;
    }
    .list li:nth-child(5){
        width: 500px;
    }
    .description{
        background-color: #0074a0;
        padding: 20px;
        margin: 30px 0;
        width: 799px;
    }
    .description h1{
        text-align: center;
    }
    .description h2{
        font-size: 40px !important;
        margin-bottom: 20px;
        color: white;
    }
    .description p{
        text-align: justify;
    }
    .break{
        word-wrap:break-word
    }
}
@media (min-width:768px)and (max-width: 1199px) {
    .list{
        font-size: 24px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .list li{
        margin-bottom: 24px;
        width: 50%;
    }
    .list li:nth-child(5){
        width:50%;
    }
    .title{
        padding-top: 40px!important;
        display: flex;
        justify-content:space-between;
    }
    .description{
        background-color: #0074a0;
        padding: 20px;
        margin: 30px 0;
        width: 70%;
    }
    .description h1{
        text-align: center;
    }
    .description h2{
        font-size: 40px !important;
        margin-bottom: 20px;
        color: white;
        text-align: center;
    }
    .description p{
        text-align: justify;
    }
    .contextCourse{
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
        justify-content: space-between !important;
    }
    .contextCourse li{
        width: 50%;
    }
}
